/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

 /* Principal styles */
body{
  font-family: 'Montserrat';
}
.title{
  font-size: 2em;
  text-align: center;
  font-weight: bold;
  padding: 15px 0;
}
.events-title{
  font-size: 1.7em;
  font-weight: bold;
  text-align: left;
  padding: 10px;
}
.events-title:hover{
  cursor: pointer;
}
.event-list__element-title{
  font-size: 1.3em;
  font-weight: bold;
  text-align: left;
  padding: 10px 0;
  margin: 20px 30px;
}
.content{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.vanilla{
  width: 40%;
}
.vanilla-title{
  padding: 10px 0;
}
.jquery{
  width: 40%;
}
.jquery-title{
  padding: 10px 0;
}
.funcionality{
  margin: 20px 0;
  border: 1px solid #777777;
  border-radius: 5px;
  padding: 10px 10px;
}
.code{
  font-size: .8em;
  background-color: lavender;
  width: fit-content;
  border: 1px solid #777777;
  padding: 5px 15px;
  border-radius: 15px;
  font-family: 'IBM Plex Mono';
}
button{
  min-width: 100px;
  min-height: 30px;
  border-radius: 15px;
  background-color: #38a1f7;
  border: 2px solid #0b8ffc;
  margin: 5px 0 15px 0;
}
input{
  margin: 10px 0;
}
img{
  width: 177px;
  height: 100px;
  margin-bottom: 10px;
}
form{
  display: flex;
  flex-direction: column;
}
select{
  margin: 10px 0;
}
.example-ul{
  margin: 10px 20px;
  list-style: circle;
}
.vanilla-event__13{
  margin: 5px 0;
}
.jquery-event__13{
  margin: 5px 0;
}
.functions-title{
  font-size: 1.7em;
  font-weight: bold;
  text-align: left;
  padding: 10px;
  margin: 40px 0;
}
.functions-title:hover{
  cursor: pointer;
}
.functions-list__element-title{
  font-size: 1.3em;
  font-weight: bold;
  text-align: left;
  padding: 10px 0;
  margin: 20px 30px;
}
.red{
  color: red;
}
.hidde{
  display: none;
}
a{
  display: block;
}
.functions{
  margin-bottom: 20px;
}